<!-- My files and Shared with me buttons -->
<div class="col-sm-5">
	<div class="form-top-left">
		<button class="btn btn-primary btn-lg" type="submit" ng-click="">
			<strong> 
				<i class="fa fa-check-circle" aria-hidden="true fa-3x"></i> My Files
			</strong>
		</button>
		<button class="btn btn-primary btn-lg" type="submit" ng-click="">
			<strong> 
				<i class="fa fa-share-alt" aria-hidden="true fa-3x"></i> Shared With Me
			</strong>
		</button>
	</div>
</div>

<div class="col-sm-12">
	<ng-include src="'views/snippets/itemsbox.html'"> </ng-include>
	<ng-include src="'views/snippets/modals.html'"> </ng-include>
</div>