<!-- Modal Login-->
  <div class="modal fade" id="modalLogin" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Erro Login</h4>
        </div>
        
        <div class="modal-body">
          <p><strong> UserName/Email or Password is Invalid</strong></p>
        </div>
		
		<div class="modal-footer">
        	<button class="btn btn-danger" data-dismiss="modal" type="button">							
        		<strong> 
        			<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Try again!
        		</strong>
        	</button>
      </div>
      
    </div>
  </div>
</div>

<!-- Modal Login-->
  <div class="modal fade" id="modalRegister" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Welcome to The GreenBox</h4>
        </div>
        
        <div class="modal-body">
          <p><strong>Congratulations! You now have a GreenBox account to store your files.</strong></p>
        </div>
		
		<div class="modal-footer">
        	<button class="btn btn-danger" data-dismiss="modal" type="button">							
        		<strong> 
        			<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Close
        		</strong>
        	</button>
      </div>
      
    </div>
  </div>
</div>