<div class="form-box" ng-controller="registrationController">
	
	{{message}}
	
	<div class="form-top">
		<div class="form-top-right">
			<h3>
				Create your account <i class="fa fa-cloud fa-lg" aria-hidden="true"></i>
			</h3>
		</div>
	</div> <!-- form-top ends -->
	
	<div class="form-bottom">
		<form class="registration-form" name="registrationForm" role="form" ng-submit="doRegister()">
			
			<div class="form-group" id="form-group-1">
				<label class="sr-only" for="username">First name</label> 
					<input class="form-name form-control" id="form-name" type="text" name="username" placeholder="Your name..." name="pw" pattern=".{4,15}" ng-model="user.username" required/>
					<span style="color:red" ng-show="registrationForm.username.$error.required && registrationForm.username.$dirty">Username required.</span>
			</div> <!-- form-group-1 ends -->
			
			<div class="form-group" id="form-group-2">
				<label class="sr-only" for="email">Email</label> 
					<input class="form-email form-control" id="form-email" type="email" name="email" placeholder="Email..." name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ng-model="user.email" required/>
					<span style="color:red" ng-show="registrationForm.email.$error.required && registrationForm.email.$dirty">Email required.</span>
			</div> <!-- form-group-2 ends -->
			
			<div class="form-group" id="form-group-3">
				<label class="sr-only" for="password">Password</label> 
					<input class="form-password form-control" id="form-password" type="password" name="password" placeholder="Password..." name="pw" pattern="(?=.*\d)(?=.*[a-z]).{6,}" ng-model="user.password" required/>
					<span style="color:red" ng-show="registrationForm.password.$error.required && registrationForm.password.$dirty">Password required.</span>
			</div> <!-- form-group-3 ends -->
			
			<!-- Information Modal -->
			<div class="modal fade" id="informationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			        <h4 class="modal-title" id="myModalLabel">What do I need to register?</h4>
			      </div>
			      <div class="modal-body">
			        <ol>
				      	<li>Username between 4 and 15 characters between letters, numbers and "- or _"</li>
				      	<li>Valid Email</li>
				      	<li>Password with at least 6 characters, at least one letter and one number</li>
			      	</ol>	
			      </div>
			    </div>
			  </div>
			</div>
			
			
			<a title="help" class="glyphicon glyphicon-info-sign" aria-hidden="true" 
							   style="color:#18A103" href="" ng-click="actionClick(item)" data-toggle="modal" data-target="#informationModal"> Help!
			</a>
			<h5></h5>
			<button class="btn btn-warning" type="submit" ng-disabled="registrationForm.$invalid">
				<strong>
					<i class="fa fa-user-plus fa-lg" aria-hidden="true"></i> Create an account!
				</strong>
			</button>
			
		</form>
	</div> <!-- for-bottom ends -->
	
</div> <!-- form-box ends -->