/***** Body *****/
body {
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
	background-image: url(../img/backgrounds/green-gradient.jpg);
 	background-repeat: repeat;
 	padding-right: 0 !important;
 	overflow-y: scroll;	
}

body.modal-open{
	width:100%!important;
	padding-right:0!important;
	overflow-y:scroll!important;
	position:fixed!important;
}


/***** Tags of Body *****/
li a { width: 180px; }

a, a:hover, a:focus {
	color: #ec2a1d;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-family: 'Pattaya', sans-serif;
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

strong { font-weight: 500; }

img { max-width: 100%; }


/***** Selection browser *****/
::-moz-selection { 
	background: #00ffff; 
	color: #fff; 
	text-shadow: none;
}

::selection { 
	background: #00ffff; 
	color: #fff; 
	text-shadow: none; 
}


/***** Drop Down *****/
.dropdown-menu p {
    margin: 0px 18px 20px;
    text-align: left;
}

.dropdown-header h3 {
    font-family: 'Pattaya', sans-serif; 
    color:#df514c;   
}

.dropdown a, .dropdown:hover a{ color:#df514c; }


/***** Modals *****/
.modal-header h3 {
	font-family: 'Pattaya', sans-serif;
	font-weight: bold; 
}

.modal-body, .modal-body h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
    font-size: 15px; 
}

.fa-exclamation-triangle { color: #ffca00; }
.fa-info-circle { color: #74aaf7; }
.fa-question-circle { color: #3b5998; }
.fa-envelope { color: #19e748; }
.fa-cog { color: #85919c; }
.fa-trash { color: #41D4CF; }

/***** Btn Buttons Style *****/
.btn-button1 {
  	color: #ffffff;
	font-family: Arial;
  	font-size: 16px;
  	text-decoration: none;
  	background: #df514c;
  	padding: 2px 20px 2px 20px;
	border-radius: 28px; -moz-border-radius: 28px; -webkit-border-radius: 28px;
	outline: 0;
}

.btn-button2 {
  	color: #ffffff;
  	font-family: Arial;
  	font-size: 16px;
  	text-decoration: none;
  	background: #ffac00;
  	padding: 2px 20px 2px 20px;
  	border-radius: 28px; -moz-border-radius: 28px; -webkit-border-radius: 28px;
  	outline: 0;
	
}

.btn-button3 {
  	color: #ffffff;
	font-family: Arial;
  	font-size: 16px;
  	text-decoration: none;
  	background: #b1eb00;
  	padding: 2px 20px 2px 20px;
	border-radius: 28px; -moz-border-radius: 28px; -webkit-border-radius: 28px;
	outline: 0;
}

.btn-button4 {
  	color: #ffffff;
  	font-family: Arial;
  	font-size: 16px;
  	text-decoration: none;
  	background: #008bba;
  	padding: 2px 20px 2px 20px;
	border-radius: 28px; -moz-border-radius: 28px; -webkit-border-radius: 28px;
	outline: 0;
}

.btn-button1:hover, .btn-button2:hover, .btn-button3:hover, .btn-button4:hover {
  	background: #85C4B9;
  	text-decoration: none;
}


/***** NavBar Buttons Style *****/
ul:hover li:hover a:hover, .navbar-header:hover a:hover{ color: #19e748; }

.navbar-header {
	font-weight: bold; 
	font-family: 'Pattaya', sans-serif;
	font-size: 50px;
}


/***** Top content *****/
.inner-bg { padding: 60px 0 80px 0; }

.top-content .text h1 {
	font-size: 320%;
    font-family: 'Pattaya', sans-serif;
	color: #000; 
}

.top-content h3 { font-family: 'Pattaya', sans-serif; }


/***** Forms Show Files and Folders *****/
.form-box { margin-top: 70px; }

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #e0e0e0;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 {
	font-size: 200%;
    font-family: 'Pattaya', sans-serif;
	margin-top: 0; 
}

.form-top-right {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-right h3 {
	font-size: 200%;
    font-family: 'Pattaya', sans-serif;
	margin-top: 0; 
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form button.btn { width: 100%; }

.middle-border {
	min-height: 300px;
	margin-top: 170px;
	border-right: 1px solid #400040;
}


table tbody:hover tr td { background-color: #ececec }


/***** Footer *****/
footer {
	padding-bottom: 70px;
	color: #000;
}

footer .footer-border {
	width: 200px;
	margin: 0 auto;
	padding-bottom: 30px;
	border-top: 1px solid #000;
}

footer p { opacity: 0.8; }

footer a {	color: #000; }

footer a:hover, footer a:focus { 
	color: #fff; 
	border-bottom: 1px dotted #fff; 
}


.middle-border {
	min-height: 300px;
	margin-top: 170px;
	border-right: 1px solid #000;
}

/***** Media queries *****/
@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) { a(255, 255, 255, 0.6); }

@media (max-width: 415px) {	h1, h2 { font-size: 64px; } }