<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"></meta>
</head>

<body>
 	<br></br><br></br><br></br> 
	<div class="user-box">
		<div class="form-top">			
			<h1><span style="font-weight: bold; font-family: 'Pattaya', sans-serif;">Green-Box</span></h1>
		</div> <!-- form-top ends -->
	</div> <!-- user-box ends -->
	<div class="form-bottom">
		<h3>Details</h3>
		<ul>
			<li>Class that must be run for open the server -> <a href="https://github.com/SILVAWesley/green-box/blob/master/src/main/java/org/ufcg/si/GreenBoxApplication.java" target="_blank">GreenBoxApplication.java</a>;</li>
			<li>URL that must be accessed for open the homepage on local server -> <a href="http://localhost:8080" target="_blank">http://localhost:8080</a>;</li>
			<li>URL that must be accessed for open the homepage on heroku server -> <a href="https://green-box-si.herokuapp.com" target="_blank">https://green-box-si.herokuapp.com</a>;</li>
			<li>Use the branch <strong>heroku-release</strong> for run application;</li>
			<li>Some functionality require double refresh for appear on front-end;</li>
		</ul>
		<h3>Data Restrictions</h3>
		<ul>
			<li>User Name must be between 4 and 15 characters, be letters, numbers and "-" or "_";</li>
			<li>Email must be valid;</li>
			<li>Password must have 6 or more characters at least, 1 letter and number;</li>
			<li>Folders and files names, must be at least 1 character between letters, numbers and "_" (or spaces);</li>
		</ul>
		<h3>Link with the design decisions:</h3>
		<ul>
			<li><a href="https://docs.google.com/a/ccc.ufcg.edu.br/document/d/1UiMmcIcAxkNDWNESD-hiz2iYHh934GrmqlwTLSeR4oA/edit?usp=sharing" target="_blank">Part 1</a></li>
			<li><a href="https://docs.google.com/document/d/1wrVjfn9iEbF9c0AOgRZd7funolg8Pzj761QL75_xqao/edit" target="_blank">Part 2</a></li>
			<li><a href="https://docs.google.com/document/d/1ZT_eIiIiDkF6JBpxURnH-kjoP4PFzgvg0VwJg5RYqD4/edit?ts=57f14579" target="_blank">Part 3</a></li>
		</ul>
	</div>
	<!-- form-bottom ends -->
	
	<!-- organising of boxes -->
	<p></p><div class="col-md-8"></div>
	<div class="col-md-12">
		<button class="btn btn-warning" type="button" onclick="location.href='#/dashboard/directories/root'">
			<strong> <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i> Back to Home </strong>
		</button>
	</div>
	<!-- col-md-12 ends -->
</body>
</html>