<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"></meta>
</head>
<body>
 	<br></br><br></br><br></br> 
	<div class="user-box">
		<div class="form-top">
			<h1><span style="font-weight: bold; font-family: 'Pattaya', sans-serif;">Contact Info</span></h1>
		</div> <!-- form-top ends -->
	</div> <!-- user-box ends -->
	<div class="form-bottom">
		<h3>Team of Developers</h3>
		<ul>
			<li>Iaron Da Costa Araujo : <a href="https://github.com/iaronaraujo" target="_blank"> GitHub </a><strong>Email</strong> : iaron.araujo@ccc.ufcg.edu.br</li>
			<li>Jose Benardi De Souza Nunes	 : <a href="https://github.com/Benardi" target="_blank"> GitHub </a><strong>Email</strong> : jose.nunes@ccc.ufcg.edu.br</li>
			<li>Natan Macena Ribeiro : <a href="https://github.com/Natan7" target="_blank"> GitHub </a><strong>Email</strong> : natan.ribeiro@ccc.ufcg.edu.br</li>
			<li>Ravi Leite Lopes : <a href="https://github.com/ravileite" target="_blank"> GitHub </a><strong>Email</strong> : ravi.lopes@ccc.ufcg.edu.br</li>		
			<li>Ronnan De Araujo Souza : <a href="https://github.com/RonnanSouza" target="_blank"> GitHub </a><strong>Email</strong> : ronnan.souza@ccc.ufcg.edu.br</li>
			<li>Wesley Oliveira Da Silva : <a href="https://github.com/SILVAWesley" target="_blank"> GitHub </a><strong>Email</strong> : wesley.silva@ccc.ufcg.edu.br</li>
		</ul>
		<h3>Coordination</h3>
		<ul>
			<li>Tiago Massoni : <a href="http://massoni.computacao.ufcg.edu.br/" target="_blank"> Web Site </a></li>
			<li><strong>Email</strong> : massoni@computacao.ufcg.edu.br</li>
		</ul>
	</div>
	<!-- form-bottom ends -->
	
	<!-- organising of boxes -->
	<p></p><div class="col-md-8"></div>
	<div class="col-md-12">
		<button class="btn btn-warning" type="button" onclick="location.href='#/dashboard/directories/root'">
			<strong> <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i> Back to Home </strong>
		</button>
	</div>
	<!-- col-md-12 ends -->
</body>
</html>