<body>
	<div class="col-md-7">
		<p></p>
		<div class="btn-group" role="group" aria-label="...">
			<button class="btn btn-warning active" type="submit" ng-click="clickOnMyFiles()">
				<strong> 
					<i class="fa fa-check-circle" aria-hidden="true fa-3x"></i> My Files
				</strong>
			</button>
			<button class="btn btn-success active" type="submit" ng-click="clickOnSharedWithMe()">
				<strong> 
					<i class="fa fa-share-alt" aria-hidden="true fa-3x"></i> Shared With Me
				</strong>
			</button>
			<button class="btn btn-danger active" type="submit" ng-click="clickOnTrash()">
				<strong> 
					<i class="fa fa-trash-o" aria-hidden="true fa-3x"></i> Recycle Bin
				</strong>
			</button>
		</div>
		<!-- btn-group ends -->
	</div>
	<!-- col-md-7 ends -->

	<!-- organising of boxes -->
	<div class="col-md-12"></div>

	<ng-include src="'views/snippets/directoriesbox.html'"> </ng-include>

	<!-- organising of boxes -->
	<p></p><div class="col-md-8"></div>
	<div class="col-md-12 col-md-12">
		<button class="btn btn-info" type="submit" ng-click="newFilePage()">
			<strong> 
				<i class="fa fa-file-text-o" aria-hidden="true fa-3x"></i> Create File
			</strong>
		</button>		
		<button class="btn btn-warning" data-toggle="modal" data-target="#folderModal" type="button">
			<strong> 
				<i class="fa fa-folder" aria-hidden="true fa-3x"></i> Create Folder
			</strong>
		</button>
	</div>
	<!-- col-md-12 col-md-12 ends -->
</body>

<!-------- MODALS -------->

<!-- Modal Create Folder-->
<div class="modal fade" id="folderModal" tabindex="-1" role="dialog" aria-labelledby="modalFolder">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">

				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title">
					<i class="fa fa-cog fa-lg" aria-hidden="true"></i> Creating Folder
				</h3>

			</div>
			<!-- modal-header ends -->
			<div class="modal-body">
				<h3>
					<strong> 
						<i class="fa fa-folder-o fa-lg" aria-hidden="true"></i> New Folder: 
						<input placeholder="Folder Name" name="country_code" type="text" ng-model="newFolderName"></input>
					</strong>
				</h3>
			</div>
			<!-- modal-body ends -->
			<div class="modal-footer">

				<button class="btn btn-warning" data-dismiss="modal" type="submit" ng-disabled="Form.$invalid" ng-click="newFolder()">
					<strong> 
						<i class="fa fa-folder fa-lg" aria-hidden="true"></i> Create Folder
					</strong>
				</button>
				<button class="btn btn-danger active" data-dismiss="modal" type="button">
					<strong> 
						<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Close
					</strong>
				</button>
			</div>
			<!-- modal-footer ends -->
		</div>
		<!-- modal-content ends -->
	</div>
	<!-- modal-dialog ends -->
</div>
<!-- folderModal ends -->

<!-- Modal Share File -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="modalSharing">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">

				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title">
					<i class="fa fa-share-alt-square fa-lg" aria-hidden="true"></i> Share
				</h3>

			</div>
			<!-- modal-header ends -->
			<div class="modal-body">
				<h3>
					<strong> 				
						<i class="fa fa-users fa-lg" aria-hidden="true"></i> User Name:  
						<input title="Choose a friend for sharing your file" type="text" placeholder="UserName..." ng-model="userSharedWith"></input>				
					</strong>
				</h3>
			</div>
			<!-- modal-body ends -->

			<div class="modal-footer">

				<button class="btn btn-info" data-dismiss="modal" type="submit" ng-click="share('R')">
					<strong> 
						<i class="fa fa-share-alt-square" aria-hidden="true"></i> Only Reading
					</strong>
				</button>
				<button class="btn btn-primary" data-dismiss="modal" type="submit" ng-click="share('RW')">
					<strong> 
						<i class="fa fa-share-alt-square" aria-hidden="true"></i> Reading and Writing
					</strong>
				</button>
				<button class="btn btn-danger active" data-dismiss="modal" type="button">
					<strong> 
						<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Cancel
					</strong>
				</button>
			
			</div>
			<!-- modal-footer ends -->
		</div>
		<!-- modal-content ends -->
	</div>
	<!-- modal-dialog ends -->
</div>
<!-- modalShare ends -->

<!-- Modal Rename File -->
<div class="modal fade" id="renameFileModal" tabindex="-1" role="dialog" aria-labelledby="renameModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">

				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title">
					<i class="fa fa-cog fa-lg" aria-hidden="true"></i> Rename File
				</h3>

			</div>
			<div class="modal-body">
				<h3>
					<strong> 				
						<i class="fa fa-pencil" aria-hidden="true"></i> New Name: 
						<input title="File Name" type="text" placeholder="File Name..." ng-model="newName"></input>				
					</strong>
				</h3>
			</div>
			<!-- modal-body ends -->

			<div class="modal-footer">

				<button class="btn btn-warning" data-dismiss="modal" type="button" ng-click="renameFile()">
					<strong> 
						<i class="fa fa-pencil" aria-hidden="true"></i> Rename
					</strong>
				</button>
				<button class="btn btn-danger active" data-dismiss="modal" type="button">
					<strong> 
						<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Cancel
					</strong>
				</button>

			</div>
		</div>
		<!-- modal-content ends -->
	</div>
	<!-- modal-dialog -->
</div>
<!-- renameModal ends -->

<div class="modal fade" id="renameFolderModal" tabindex="-1" role="dialog" aria-labelledby="renameModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title">
					<i class="fa fa-cog fa-lg" aria-hidden="true"></i> Rename Folder
				</h3>

			</div>
			<div class="modal-body">
				<h3>
					<strong> 			
						<i class="fa fa-pencil" aria-hidden="true"></i> New Name: 
						<input title="Folder Name" type="text" placeholder="Folder Name..." ng-model="newName"></input>				
					</strong>
				</h3>
			</div>
			<!-- modal-body ends -->

			<div class="modal-footer">

				<button class="btn btn-warning" data-dismiss="modal" type="button" ng-click="renameFolder()">
					<strong> 
						<i class="fa fa-pencil" aria-hidden="true"></i> Rename
					</strong>
				</button>
				<button class="btn btn-danger active" data-dismiss="modal" type="button">
					<strong> 
						<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Cancel
					</strong>
				</button>

			</div>
		</div>
		<!-- modal-content ends -->
	</div>
	<!-- modal-dialog -->
</div>
<!-- renameModal ends -->

<!-- Delete Folder Modal -->
<div class="modal fade" id="deleteFolderModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				
				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>		
				<h3 class="modal-title"> 
					<i class="fa fa-question-circle fa-lg" aria-hidden="true"></i> Delete Folder 
				</h3>
			
			</div>
			<div class="modal-body">
				<h4>Are you sure you want to delete this folder?</h4>
			</div>
			<div class="modal-footer">

				<button class="btn btn-danger active" data-dismiss="modal" type="button" ng-click="sendFolderToTrash()">
					<strong> 
						<i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i> Yes
					</strong>
				</button>
				<button class="btn btn-warning active" data-dismiss="modal" type="button">
					<strong> 
						<i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i> No
					</strong>
				</button>

			</div>
		</div>
		<!-- modal-content ends -->
	</div>
	<!-- modal-dialog ends -->
</div>
<!-- modal-fade ends -->

<!-- Delete File Modal -->
<div class="modal fade" id="deleteFileModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title"> 
					<i class="fa fa-question-circle fa-lg" aria-hidden="true"></i> Delete File 
				</h3>
			</div>
			<div class="modal-body">
				<h4>Are you sure you want to delete this file?</h4>
			</div>
			<div class="modal-footer">

				<button class="btn btn-danger active" data-dismiss="modal" type="button" ng-click="sendFileToTrash()">
					<strong> 
						<i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i> Yes
					</strong>
				</button>
				<button class="btn btn-warning active" data-dismiss="modal" type="button">
					<strong> <i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i> No
					</strong>
				</button>

			</div>
		</div>
		<!-- modal-content ends -->
	</div>
	<!-- modal-dialog ends -->
</div>
<!-- modal-fade ends -->