<!-- Delete Permanently Folder Modal -->
 <div class="modal fade" id="deletePermanentlyFolderModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">
			
			<div class="modal-header">
          		<h4 class="modal-title"> Delete Permanently Folder </h4>
        	</div>
        
        	<div class="modal-body">
        		<p> Are you sure you want to <strong>permanently delete</strong> this folder? </p>
        	</div>
		
			<div class="modal-footer">
			
        		<button class="btn btn-danger" data-dismiss="modal" type="button" ng-click="finalFolderDelete()">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> 
        				<strong>Yes</strong>
        			</strong>
        		</button>
        		
        		<button class="btn btn-warning" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
						<strong>No</strong>
        			</strong>
        		</button>

      		</div>
      
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- Delete Permanently File Modal -->
 <div class="modal fade" id="deletePermanentlyFileModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">
			
			<div class="modal-header">
          		<h4 class="modal-title"> Delete Permanently File </h4>
        	</div>
        
        	<div class="modal-body">
        		<p> Are you sure you want to <strong>permanently delete</strong> this file? </p>
        	</div>
		
			<div class="modal-footer">
			
        		<button class="btn btn-danger" data-dismiss="modal" type="button"  ng-click="finalFileDelete()">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> 
        				<strong>Yes</strong>
        			</strong>
        		</button>
        		
        		<button class="btn btn-warning" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
						<strong>No</strong>
        			</strong>
        		</button>

      		</div>
      
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->