<!-- Login Error Modal-->
 <div class="modal fade" id="loginErrorModal" role="dialog">
 	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">	
        	<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
			        <span aria-hidden="true">&times;</span>
				</button>
          		<h3 class="modal-title"> 
          			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Error Login 
          		</h3>
        	</div>
        	<div class="modal-body"></div>
			<div class="modal-footer">
        		<button class="btn btn-warning active" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Try again!
        			</strong>
        		</button>
      		</div>
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- Register Successful Modal -->
 <div class="modal fade" id="registerSuccessfulModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
			        <span aria-hidden="true">&times;</span>
				</button>
          		<h3 class="modal-title">
          			<i class="fa fa-cube" aria-hidden="true"></i> Welcome to The GreenBox
          		</h3>
        	</div>
        	<div class="modal-body">
          		<h4>Congratulations! You have now a GreenBox account to store your files.</h4>
        	</div>
			<div class="modal-footer">
        		<button class="btn btn-danger active" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Close
        			</strong>
        		</button>
      		</div>
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- Register Error Modal -->
 <div class="modal fade" id="registerErrorModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
			        <span aria-hidden="true">&times;</span>
				</button>
          		<h3 class="modal-title">
          			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Error
          		</h3>
        	</div>     
        	<div class="modal-body">
          		<h4>Error! User Name or Email existing.</h4>
          		<h4> Try Again! </h4>
        	</div>	
			<div class="modal-footer">
        		<button class="btn btn-danger active" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Close
        			</strong>
        		</button>
      		</div>    
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- Information Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">		
			<div class="modal-header">				
				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
				</button>			       
			     <h3 class="modal-title" id="myModalLabel">
			        <i class="fa fa-info-circle" aria-hidden="true"></i> What do you need to register?
			     </h3>
			</div>
			<div class="modal-body">
				<ol>
					<li><strong>User Name must be between 4 and 15 characters, be letters, numbers and "-" or "_"</strong></li>
					<li><strong>Email must be valid</strong></li>
					<li><strong>Password must have 6 or more characters at least, 1 letter and number</strong></li>
				</ol>
			</div>
		</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- File Share Modal -->
 <div class="modal fade" id="fileShareModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">		
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
				</button>
          		<h3 class="modal-title"> 
          			<i class="fa fa-envelope" aria-hidden="true"></i> File Share 
          		</h3>
        	</div>    
        	<div class="modal-body">
          		<h4>Great! File successfully shared.</h4>
        	</div>	
			<div class="modal-footer">
        		<button class="btn btn-danger active" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Close!
        			</strong>
        		</button>
      		</div>     
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- File Share Error Modal -->
 <div class="modal fade" id="fileShareErrorModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">		
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
				</button>
          		<h3 class="modal-title"> 
          			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> File Share Error 
          		</h3>
        	</div>     
        	<div class="modal-body"></div>	
			<div class="modal-footer">
        		<button class="btn btn-warning active" data-toggle="modal" data-target="#shareModal" data-dismiss="modal"  type="button" >							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Try Again!
        			</strong>
        		</button>
      		</div>    
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- Folder Rename Modal -->
 <div class="modal fade" id="folderRenameModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">		
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
				</button>
          		<h3 class="modal-title"> 
          			<i class="fa fa-envelope" aria-hidden="true"></i> Folder Rename 
          		</h3>
        	</div>   
        	<div class="modal-body">
          		<h4>Great! Folder renamed successfully.</h4>
        	</div>	
			<div class="modal-footer">
        		<button class="btn btn-danger active" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Close!
        			</strong>
        		</button>
      		</div>    
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- Folder Rename Error Modal -->
 <div class="modal fade" id="folderRenameErrorModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">		
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
				</button>
          		<h3 class="modal-title"> 
          			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Folder Rename Error
          		</h3>
        	</div>     
        	<div class="modal-body"></div>	
			<div class="modal-footer">
        		<button class="btn btn-warning active" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Try Again!
        			</strong>
        		</button>
      		</div>   
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- File Rename Modal -->
 <div class="modal fade" id="fileRenameModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">		
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
				</button>
          		<h3 class="modal-title"> 
          			<i class="fa fa-envelope" aria-hidden="true"></i> File Rename 
          		</h3>
        	</div>    
        	<div class="modal-body">
          		<h4>Great! File renamed successfully.</h4>
        	</div>	
			<div class="modal-footer">
        		<button class="btn btn-danger active" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Close!
        			</strong>
        		</button>
      		</div>    
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- File Rename Modal -->
 <div class="modal fade" id="fileRenameErrorModal" role="dialog">
	<div class="modal-dialog">
		
		<!-- Modal content-->
		<div class="modal-content">	
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
				</button>
          		<h3 class="modal-title"> 
          			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> File Rename Error 
          		</h3>
        	</div> 
        	<div class="modal-body"></div>	
			<div class="modal-footer">
        		<button class="btn btn-warning active" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Try Again!
        			</strong>
        		</button>
      		</div>  
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- File Create Modal -->
 <div class="modal fade" id="fileCreateModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">		
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
				</button>
          		<h3 class="modal-title"> 
          			<i class="fa fa-envelope" aria-hidden="true"></i> File Create 
          		</h3>
        	</div>     
        	<div class="modal-body">
          		<h4>Great! File created successfully.</h4>
        	</div>	
			<div class="modal-footer">
        		<button class="btn btn-danger active" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Close
        			</strong>
        		</button>
      		</div>  
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- File Create Error Modal -->
 <div class="modal fade" id="fileCreateErrorModal" role="dialog">
	<div class="modal-dialog">
 
		<!-- Modal content-->
		<div class="modal-content">	
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
				</button>
          		<h3 class="modal-title"> 
          			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> File Create Error 
          		</h3>
        	</div>   
        	<div class="modal-body"></div>	
			<div class="modal-footer">
        		<button class="btn btn-warning active" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Try Again!
        			</strong>
        		</button>
      		</div> 
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- Folder Create Modal -->
 <div class="modal fade" id="folderCreateModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">	
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
				</button>
          		<h3 class="modal-title"> 
          			<i class="fa fa-envelope" aria-hidden="true"></i> Folder Create 
          		</h3>
        	</div>  
        	<div class="modal-body">
          		<h4>Great! Folder created successfully.</h4>
        	</div>	
			<div class="modal-footer">
        		<button class="btn btn-danger active" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Close
        			</strong>
        		</button>
      		</div>    
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- File Create Error Modal -->
 <div class="modal fade" id="folderCreateErrorModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">			
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
				</button>
          		<h3 class="modal-title"> 
          			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Folder Create Error 
          		</h3>
        	</div>       
        	<div class="modal-body"></div>		
			<div class="modal-footer">
        		<button class="btn btn-warning active" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Try Again!
        			</strong>
        		</button>
      		</div>     
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- File Edit Modal -->
 <div class="modal fade" id="fileEditModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">			
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
				</button>
          		<h3 class="modal-title"> 
          			<i class="fa fa-envelope" aria-hidden="true"></i> File Edit 
          		</h3>
        	</div>     
        	<div class="modal-body">
          		<h4>Great! File edited successfully.</h4>
        	</div>	
			<div class="modal-footer">
        		<button class="btn btn-danger active" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Close
        			</strong>
        		</button>
      		</div>     
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- File Edit Error Modal -->
 <div class="modal fade" id="fileEditErrorModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">		
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
				</button>
          		<h3 class="modal-title"> 
          			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> File Edit Error 
          		</h3>
        	</div>     
        	<div class="modal-body"></div>	
			<div class="modal-footer">
        		<button class="btn btn-warning active" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Try Again!
        			</strong>
        		</button>
      		</div>  
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- Service Error Modal -->
 <div class="modal fade" id="serviceErrorModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">		
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
				</button>
          		<h3 class="modal-title"> 
          			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Error at Service 
          		</h3>
        	</div>    
        	<div class="modal-body"></div>	
			<div class="modal-footer">
        		<button class="btn btn-danger active" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Close
        			</strong>
        		</button>
      		</div>   
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- Send File to Trash Modal -->
 <div class="modal fade" id="sendFileToTrashModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">		
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
				</button>
          		<h3 class="modal-title"> 
          			<i class="fa fa-trash" aria-hidden="true"></i> Send to Trash 
          		</h3>
        	</div>     
        	<div class="modal-body">
        		<h4>Great! Your file is on trash now.</h4>
        	</div>	
			<div class="modal-footer">       		
        		<button class="btn btn-danger active" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Close
        			</strong>
        		</button>        		
      		</div>    
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- Send File to Trash Error Modal -->
 <div class="modal fade" id="sendFileToTrashErrorModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">		
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
				</button>
          		<h3 class="modal-title"> 
          			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Oops! Something Wrong 
          		</h3>
        	</div>     
        	<div class="modal-body"></div>	
			<div class="modal-footer">      		
        		<button class="btn btn-warning active" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Try Again!
        			</strong>
        		</button>      		
      		</div>   
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- Send Folder to Trash Modal -->
 <div class="modal fade" id="sendFolderToTrashModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">		
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
				</button>
          		<h3 class="modal-title"> 
          			<i class="fa fa-trash" aria-hidden="true"></i> Send to Trash 
          		</h3>
        	</div>    
        	<div class="modal-body">
        		<h4>Great! Your folder is on trash now.</h4>
        	</div>	
			<div class="modal-footer">       		
        		<button class="btn btn-danger active" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Close
        			</strong>
        		</button>        		
      		</div>    
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- Send Folder to Trash Error Modal -->
 <div class="modal fade" id="sendFolderToTrashErrorModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">	
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
				</button>
          		<h3 class="modal-title"> 
          			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Oops! Something Wrong 
          		</h3>
        	</div>    
        	<div class="modal-body"></div>	
			<div class="modal-footer">      		
        		<button class="btn btn-warning active" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Try Again!
        			</strong>
        		</button>      		
      		</div>   
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->