<!-- Login Modal-->
  <div class="modal fade" id="modalLogin" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Erro Login</h4>
        </div>
        
        <div class="modal-body">
          <p><strong> UserName/Email or Password is Invalid</strong></p>
        </div>
		
		<div class="modal-footer">
        	<button class="btn btn-danger" data-dismiss="modal" type="button">							
        		<strong> 
        			<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Try again!
        		</strong>
        	</button>
      </div>
      
    </div>
  </div>
</div>

<!-- Register Modal-->
  <div class="modal fade" id="modalRegister" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Welcome to The GreenBox</h4>
        </div>
        
        <div class="modal-body">
          <p><strong>Congratulations! You now have a GreenBox account to store your files.</strong></p>
        </div>
		
		<div class="modal-footer">
        	<button class="btn btn-danger" data-dismiss="modal" type="button">							
        		<strong> 
        			<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Close
        		</strong>
        	</button>
      </div>
      
    </div>
  </div>
</div>

<!-- Information Modal -->
<div class="modal fade" id="informationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
				</button>
			        <h4 class="modal-title" id="myModalLabel">What do I need to register?</h4>
			</div>
			
			<div class="modal-body">
				<strong>
			       	<ol>
				   		<li>Username between 4 and 15 characters between letters, numbers and "- or _"</li>
				   		<li>Valid Email</li>
				   		<li>Password with at least 6 characters, at least one letter and one number</li>
			    	</ol>	
			    </strong>

			</div>
		</div>
	</div>
</div>