<!-- Login Error Modal-->
 <div class="modal fade" id="loginModal" role="dialog">
 	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">
        	
        	<div class="modal-header">
          		<h4 class="modal-title"> Error Login </h4>
        	</div>
        
        	<div class="modal-body">
          		<p><strong> UserName/Email or Password is Invalid</strong></p>
        	</div>
		
			<div class="modal-footer">
        		<button class="btn btn-danger" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Try again!
        			</strong>
        		</button>
      		</div>
      
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- Register Successful Modal -->
 <div class="modal fade" id="registerSuccessfulModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">
			
			<div class="modal-header">
          		<h4 class="modal-title">Welcome to The GreenBox</h4>
        	</div>
        
        	<div class="modal-body">
          		<p><strong>Congratulations! You have now a GreenBox account to store your files.</strong></p>
        	</div>
		
			<div class="modal-footer">
        		<button class="btn btn-danger" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Close
        			</strong>
        		</button>
      		</div>
      
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- Register Error Modal -->
 <div class="modal fade" id="registerErrorModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">
			
			<div class="modal-header">
          		<h4 class="modal-title">Error</h4>
        	</div>
        
        	<div class="modal-body">
          		<p><strong> Error! User Name or Email existing. </strong></p>
          		<p><strong> Try Again! </strong></p>
        	</div>
		
			<div class="modal-footer">
        		<button class="btn btn-danger" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Close
        			</strong>
        		</button>
      		</div>
      
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- Information Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
				</button>
			        <h4 class="modal-title" id="myModalLabel">
			        	<strong>What do you need to register?</strong>
			        </h4>
			</div>
			
			<div class="modal-body">
			       	<ol>
				   		<li><strong>Username between 4 and 15 characters between letters, numbers and "- or _"</strong></li>
				   		<li><strong>Valid Email</strong></li>
				   		<li><strong>Password with at least 6 characters, at least one letter and one number</strong></li>
			    	</ol>	
			</div>
			
		</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- File Share Modal -->
 <div class="modal fade" id="fileShareModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">
			
			<div class="modal-header">
          		<h4 class="modal-title"> File Share </h4>
        	</div>
        
        	<div class="modal-body">
          		<p><strong>Great! File successfully shared.</strong></p>
        	</div>
		
			<div class="modal-footer">
        		<button class="btn btn-danger" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Close!
        			</strong>
        		</button>
      		</div>
      
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- File Share Error Modal -->
 <div class="modal fade" id="fileShareErrorModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">
			
			<div class="modal-header">
          		<h4 class="modal-title"> File Share Error </h4>
        	</div>
        
        	<div class="modal-body">
        	</div>
		
			<div class="modal-footer">
        		<button class="btn btn-danger" data-toggle="modal" data-target="#shareModal" data-dismiss="modal"  type="button" >							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Try Again!
        			</strong>
        		</button>
      		</div>
      
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- Folder Rename Modal -->
 <div class="modal fade" id="folderRenameModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">
			
			<div class="modal-header">
          		<h4 class="modal-title"> Folder Rename </h4>
        	</div>
        
        	<div class="modal-body">
          		<p><strong>Great! Folder renamed successfully.</strong></p>
        	</div>
		
			<div class="modal-footer">
        		<button class="btn btn-danger" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Close!
        			</strong>
        		</button>
      		</div>
      
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- Folder Rename Error Modal -->
 <div class="modal fade" id="folderRenameErrorModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">
			
			<div class="modal-header">
          		<h4 class="modal-title"> Folder Rename Error </h4>
        	</div>
        
        	<div class="modal-body">
        	</div>
		
			<div class="modal-footer">
        		<button class="btn btn-danger" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Try Again!
        			</strong>
        		</button>
      		</div>
      
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- File Rename Modal -->
 <div class="modal fade" id="fileRenameModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">
			
			<div class="modal-header">
          		<h4 class="modal-title"> File Rename </h4>
        	</div>
        
        	<div class="modal-body">
          		<p><strong>Great! File renamed successfully.</strong></p>
        	</div>
		
			<div class="modal-footer">
        		<button class="btn btn-danger" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Close!
        			</strong>
        		</button>
      		</div>
      
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- File Rename Modal -->
 <div class="modal fade" id="fileRenameErrorModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">
			
			<div class="modal-header">
          		<h4 class="modal-title"> File Rename Error </h4>
        	</div>
        
        	<div class="modal-body">
        	</div>
		
			<div class="modal-footer">
        		<button class="btn btn-danger" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Try Again!
        			</strong>
        		</button>
      		</div>
      
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- File Create Modal -->
 <div class="modal fade" id="fileCreateModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">
			
			<div class="modal-header">
          		<h4 class="modal-title"> File Create </h4>
        	</div>
        
        	<div class="modal-body">
          		<p><strong>Great! You created file successfully.</strong></p>
        	</div>
		
			<div class="modal-footer">
        		<button class="btn btn-danger" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Close
        			</strong>
        		</button>
      		</div>
      
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- File Create Error Modal -->
 <div class="modal fade" id="fileCreateErrorModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">
			
			<div class="modal-header">
          		<h4 class="modal-title"> File Create Error </h4>
        	</div>
        
        	<div class="modal-body">
        	</div>
		
			<div class="modal-footer">
        		<button class="btn btn-danger" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Try Again!
        			</strong>
        		</button>
      		</div>
      
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- File Edit Modal -->
 <div class="modal fade" id="fileEditModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">
			
			<div class="modal-header">
          		<h4 class="modal-title"> File Edit </h4>
        	</div>
        
        	<div class="modal-body">
          		<p><strong> Great! File edited successfully. </strong></p>
        	</div>
		
			<div class="modal-footer">
        		<button class="btn btn-danger" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Close
        			</strong>
        		</button>
      		</div>
      
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- File Edit Error Modal -->
 <div class="modal fade" id="fileEditErrorModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">
			
			<div class="modal-header">
          		<h4 class="modal-title"> File Edit Error </h4>
        	</div>
        
        	<div class="modal-body">
        	</div>
		
			<div class="modal-footer">
        		<button class="btn btn-danger" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Try Again!
        			</strong>
        		</button>
      		</div>
      
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->

<!-- Service Error Modal -->
 <div class="modal fade" id="serviceErrorModal" role="dialog">
	<div class="modal-dialog">
    
		<!-- Modal content-->
		<div class="modal-content">
			
			<div class="modal-header">
          		<h4 class="modal-title"> Error at Service </h4>
        	</div>
        
        	<div class="modal-body">
        	</div>
		
			<div class="modal-footer">
        		<button class="btn btn-danger" data-dismiss="modal" type="button">							
        			<strong> 
        				<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Close
        			</strong>
        		</button>
      		</div>
      
    	</div> <!-- modal-content ends -->
	</div> <!-- modal-dialog ends -->
</div> <!-- modal-fade ends -->