<div class="form-box" ng-controller="registrationController">
	{{message}}
	<div class="form-top">
		<div class="form-top-right">
			<h3> Create your account <i class="fa fa-cloud fa-lg" aria-hidden="true"></i> </h3>
		</div>
	</div> <!-- form-top ends -->
	<div class="form-bottom">
		<form class="registration-form" name="registrationForm" role="form" ng-submit="doRegister()">	
			<div class="form-group" id="form-group-1">
				<label class="sr-only" for="username">First name</label> 
				<input class="form-name form-control" id="form-name" type="text" name="username" placeholder="Your name..." pattern="^[a-zA-Z0-9_-]{4,15}$" ng-model="user.username" required></input>
				<span style="color:red" ng-show="registrationForm.username.$error.required && registrationForm.username.$dirty">Username required.</span>
			</div> <!-- form-group-1 ends -->
			<div class="form-group" id="form-group-2">
				<label class="sr-only" for="email">Email</label> 
				<input class="form-email form-control" id="form-email" type="email" name="email" placeholder="Email..." pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z0-9]{2,}$" ng-model="user.email" required></input>
				<span style="color:red" ng-show="registrationForm.email.$error.required && registrationForm.email.$dirty">Email required.</span> <!-- pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,3}$" -->
			</div> <!-- form-group-2 ends -->
			<div class="form-group" id="form-group-3">
				<label class="sr-only" for="password">Password</label> 
				<input class="form-password form-control" id="form-password" type="password" name="password" placeholder="Password..." pattern="^(?=.*[0-9])(?=.*[a-zA-Z]).{6,}$" ng-model="user.password" required></input>
				<span style="color:red" ng-show="registrationForm.password.$error.required && registrationForm.password.$dirty">Password required.</span>
			</div> <!-- form-group-3 ends -->	
			<a class="glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#helpModal"  href="" title="help" aria-hidden="true" ng-click="actionClick(item)"> 
				<i style="color:#6a6aff;">Help!</i>
			</a>
			<p></p> <!-- adition of space -->		
			<button class="btn btn-warning" type="submit" ng-disabled="registrationForm.$invalid">
				<strong>
					<i class="fa fa-user-plus fa-lg" aria-hidden="true"></i> Create an account!
				</strong>
			</button>
		</form> <!-- registration-form ends -->
	</div> <!-- for-bottom ends -->
</div> <!-- form-box ends -->