<div class="user-box">
	<div class="form-top">
		<div class="form-top-right">
			<h3>
				<span ng-repeat="folder in getOpenedFolders() track by $index">
					<i class="fa fa-folder-open fa-2x" aria-hidden="true"></i> 
					<a style="color:green" ui-sref="dashboard.directories({folderPath: folder.path})">
						{{folder.name}}
					</a> / 
				</span>
				
				<i class="fa fa-folder-open fa-2x" aria-hidden="true"></i> 
				{{getCurrentFolder().name + "/"}} 
				
			</h3>
		</div> <!-- form-top-right ends -->
	</div> <!-- form-top ends -->
</div> <!-- user-box ends -->

<div class="form-bottom">
	<form class="login-form" role="form" action="" method="post">
		<div class="form-group">
			<table class="table table-striped">
				
				<thead>
					<tr>
						<th>Name</th>
					</tr>
				</thead>
				
				<tbody ng-repeat="item in getFolders() track by $index">
					<tr id="folderList">
					
						<td>
							<i class="fa fa-folder fa-2x" aria-hidden="true"></i> 
							<a style="color:green" href="" ng-click="clickOnFolder(item)"> {{item.name}}</a>
						</td>

						<td class="col-sm-2"></td> <!-- standardization of box -->
						<td class="col-sm-2"></td> <!-- standardization of box -->

						<td class="col-sm-2">
							<a class="fa fa-pencil fa-2x" data-toggle="modal" data-target="#deletePermanentlyFolderModal" title="Delete Permanently Folder"  
							   aria-hidden="true" style="color:#18A103" href="" ng-click="clickOnDeletePermanentlyFolder(item)"> 
							   Delete Permanently
							</a>
						</td> <!-- standardization of box -->
						<td class="col-sm-1"></td> <!-- standardization of box -->
						
					</tr> <!-- folderList ends -->
				</tbody> <!-- item in getFolders() track by $index ends -->
				
				<tbody ng-repeat="item in getFiles() track by $index">
					<tr id="fileList">
						
						<td>
							<i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i> 
							<a style="color:green" href="" ng-click="clickOnFile(item)"> {{item.name + '.' + item.extension}}</a>
						</td>

						<td class="col-sm-2"></td> <!-- standardization of box -->
						<td class="col-sm-2"></td> <!-- standardization of box -->

						<td class="col-sm-2">
							<a class="fa fa-share-alt fa-2x" title="Delete Permanently File" data-toggle="modal" data-target="#deletePermanentlyFileModal" title="Delete Permanently File" 
							   style="color:#18A103" href=""  aria-hidden="true" ng-click="clickOnDeletePermanentlyFile(item)"> 
							   Delete Permanently
							</a>
						</td>
						<td class="col-sm-1"></td> <!-- standardization of box -->

					</tr> <!-- fileList ends -->
				</tbody> <!-- item in getFiles() track by $index ends -->
			
			</table> <!-- table table-striped ends -->
		</div> <!-- form-group ends -->
	</form> <!-- login-form ends -->
</div> <!-- form-bottom ends -->

<p></p>

<!-- organising of boxes -->
<div class="col-sm-8"></div>

<div class="col-sm-12 col-md-12">
	
	<button class="btn btn-danger btn-lg" type="submit" ng-click="cleanTrash()">
		<strong> 
			<i class="fa fa-file-text-o" aria-hidden="true fa-3x"></i> Clean Trash
		</strong>
	</button>

</div> <!-- col-sm-12 col-md-12 ends -->