
<ng-include src="'views/snippets/modals.html'"> </ng-include>
<div class="col-sm-12">
	<div class="form-bottom">
		<div class="row">
			<div class="col-sm-5">
				<h3 style="font-family: 'Pattaya', sans-serif">
					<i class="fa fa-check" aria-hidden="true"></i>
					Your Username is: {{username}}
				</h3>
			</div>
			<div class="col-sm-6">
				<h3 style="font-family: 'Pattaya', sans-serif">
					<a title="Rename folder" class="fa fa-pencil" aria-hidden="true" 

					   style="color:#0C2DFA" href="" ng-click="" data-toggle="modal" data-target="#changeUserModal"> Change
					</a>
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<h3 style="font-family: 'Pattaya', sans-serif">
					<i class="fa fa-check" aria-hidden="true"></i>
					Your Email is: {{email}}
				</h3>
			</div>
			<div class="col-sm-6">
					<h3 style="font-family: 'Pattaya', sans-serif">
						<a title="Rename folder" class="fa fa-pencil" aria-hidden="true" 

						   style="color:#0C2DFA" href="" ng-click="" data-toggle="modal" data-target="#changeEmailModal"> Change
						</a>
					</h3>
				</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<h3 style="font-family: 'Pattaya', sans-serif">
					<i class="fa fa-check" aria-hidden="true"></i>
					You want to change your password?
				</h3>
			</div>
			<div class="col-sm-6">
					<h3 style="font-family: 'Pattaya', sans-serif">
						<a title="Rename folder" class="fa fa-pencil" aria-hidden="true" 

						   style="color:#0C2DFA" href="" ng-click="" data-toggle="modal" data-target="#changePasswordModal"> Change
						</a>
					</h3>
				</div>
		</div>
</div>