<!-- Messages for User -->
<ng-include src="'views/snippets/windows.html'"> </ng-include>
	
<div class="col-sm-12">
	<div class="form-bottom">
		<div class="row">
			
			<div class="col-sm-5">
				
				<h3 style="font-family: 'Pattaya', sans-serif">
					<i class="fa fa-check" aria-hidden="true"></i>
					Your Username is: {{username}}
				</h3>
				
				<h3 style="font-family: 'Pattaya', sans-serif">
					<i class="fa fa-check" aria-hidden="true"></i>
					Your Email is: {{email}}
				</h3>
				
				<h3 style="font-family: 'Pattaya', sans-serif">
					<i class="fa fa-check" aria-hidden="true"></i>
					Edit your password:
				</h3>
				
			</div> <!-- col-sm-5 ends -->
			
			<div class="col-sm-6">
				
				<h3 style="font-family: 'Pattaya', sans-serif">
					<a class="fa fa-pencil" style="color:#0C2DFA" href="" data-toggle="modal" 
					   data-target="#changeUserModal" title="Edit Name" aria-hidden="true" ng-click=""> 
					   Edit
					</a>
				</h3>
				
				<h3 style="font-family: 'Pattaya', sans-serif">
					<a class="fa fa-pencil" style="color:#0C2DFA" href="" data-toggle="modal" 
					   data-target="#changeUserModal" title="Edit Email" aria-hidden="true" ng-click=""> 
					   Edit
					</a>
				</h3>
				
				<h3 style="font-family: 'Pattaya', sans-serif">
					<a class="fa fa-pencil" style="color:#0C2DFA" href="" data-toggle="modal" 
					   data-target="#changeUserModal" title="Edit Password" aria-hidden="true" ng-click=""> 
					   Edit
					</a>
				</h3>
				
			</div> <!-- col-sm-6 ens -->		
		</div> <!-- row ends -->
	</div> <!-- form-bottom ends -->
					
</div> <!-- col-sm-12 ends -->

<div class="col-md-12">
	<button class="btn btn-warning" type="button" onclick="window.history.back()">							
   		<strong> 
   			<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> 
   			Back
   		</strong>
	</button>
</div> <!-- col-sm-12 ends -->
