<!-- Modals -->
<div class="col-sm-12">
		<!-- Notification Modal -->
		<div class="modal fade" id="modalNotification" tabindex="-1" role="dialog" aria-labelledby="modalNotification" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      
		      <div class="modal-header">
		        
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		        
		        <h3 class="modal-title" id="myModalLabel" style="font-family: 'Pattaya', sans-serif">
		        	<i class="fa fa-bell-o" aria-hidden="true"></i>
		        	<strong>Notification</strong>
		        </h3>
		      
		      </div>

		      <div class="modal-body">
		        ...
		      </div>

		      <div class="modal-footer" >
					<button class="btn btn-danger" data-dismiss="modal" type="button">							
   						<strong> 
   							<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Close
   						</strong>
	   				</button>
		      </div>
		      
		    </div> <!-- modal-content ends -->
		  </div> <!-- modal-dialog ends -->
		</div> <!-- modalNotification -->
			
		<!-- Change UserName modal -->
		<div class="modal fade" id="changeUserModal" tabindex="-1" role="dialog" aria-labelledby="changeUserModal" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		       
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		       
		        <h3 class="modal-title" id="modalFolder" style="font-family: 'Pattaya', sans-serif">
   					<strong>
   						<i class="fa fa-pencil" aria-hidden="true"></i> 
   						Change Username
   					</strong>
   				</h3>
		      
		      </div>
		      
		      <div class="modal-body">
		       	<h3 style="font-family: 'Pattaya', sans-serif">
					<strong>
						<i class="fa fa-pencil" aria-hidden="true"></i>
						UserName: 
						&emsp;&emsp;&ensp; <!-- Adition of space --> 
						<input title="New Name" type="text"  ng-model="newName"></input>
					</strong>
				</h3>
		      </div>
		      
		      <div class="modal-footer">  	        
		        <button type="button" class="btn btn-primary">
		        	<strong>
		        		<i class="fa fa-save" aria-hidden="true"></i> 
		        		Save changes
		        	</strong>
		        </button>
		      
		        <button type="button" class="btn btn-danger" data-dismiss="modal">
		        	<strong>
		        		<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> 
		        		Cancel
		        	</strong>
		        </button>
		        
		      </div>
		      
		    </div> <!-- modal-content ends -->
		  </div> <!-- modal-dialog ends -->
		</div> <!-- changeUserModal ends -->
		
		<!-- Change Email modal -->
		<div class="modal fade" id="changeEmailModal" tabindex="-1" role="dialog" aria-labelledby="changeEmailModal" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		        
		        <h3 class="modal-title" id="modalFolder" style="font-family: 'Pattaya', sans-serif">
   					<strong>
   						<i class="fa fa-pencil" aria-hidden="true"></i> 
   						Edit Email
   					</strong>
   				</h3>
		      
		      </div>
		      
		      <div class="modal-body">
		       	<h3 style="font-family: 'Pattaya', sans-serif">
					<strong>
						<i class="fa fa-pencil" aria-hidden="true"></i>
						Email: 
						&emsp;&emsp;&ensp; <!-- Adition of space --> 
						<input title="New Name" type="text"  ng-model="newName"></input>
					</strong>
				</h3>
		      </div>
		      
		      <div class="modal-footer">

		        <button type="button" class="btn btn-primary">
		        	<strong>
		        		<i class="fa fa-save" aria-hidden="true"></i> 
		        		Save changes
		        	</strong>
		        </button>
		        
		        <button type="button" class="btn btn-danger" data-dismiss="modal">
		        	<strong>
		        		<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> 
		        		Cancel
		        	</strong>
		        </button>

		      </div>
		      
		    </div><!-- modal-content ends -->
		  </div><!-- modal-dialog ends -->
		</div><!-- changeEmailModal ends -->
		
		<!-- Change Password modal -->
		<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModal" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		       
		        <h3 class="modal-title" id="modalFolder" style="font-family: 'Pattaya', sans-serif">
   					<strong>
   						<i class="fa fa-pencil" aria-hidden="true"></i> 
   						Edit Username
   					</strong>
   				</h3>
		     
		      </div>
		      
		      <div class="modal-body">
		      	
		      	<h3 style="font-family: 'Pattaya', sans-serif">
					<strong>
						<i class="fa fa-pencil" aria-hidden="true"></i>
						Current Password: 
						&emsp;&emsp;&ensp; <!-- Adition of space --> 
						<input class="form-password form-control" id="form-password" type="password" name="password2" 
								placeholder="Password..." pattern="^(?=.*[0-9])(?=.*[a-zA-Z]).{6,}$" ng-model="password" required></input>
					</strong>
				</h3>
				
				<h3 style="font-family: 'Pattaya', sans-serif">
					<strong>
						<i class="fa fa-pencil" aria-hidden="true"></i>
						New Password: 
						&emsp;&emsp;&ensp; <!-- Adition of space --> 
						<input class="form-password form-control" id="form-password" type="password" name="password2" 
								placeholder="Password..." pattern="^(?=.*[0-9])(?=.*[a-zA-Z]).{6,}$" ng-model="password" required></input>
					</strong>
				</h3>
				
				<h3 style="font-family: 'Pattaya', sans-serif">
					<strong>
						<i class="fa fa-pencil" aria-hidden="true"></i>
						Confirm Password: 
						&emsp;&emsp;&ensp; <!-- Adition of space --> 
						<input class="form-password form-control" id="form-password" type="password" name="password2" 
								placeholder="Password..." pattern="^(?=.*[0-9])(?=.*[a-zA-Z]).{6,}$" ng-model="password" required></input>
					</strong>
				</h3>
				
		      </div>
		      
		      <div class="modal-footer">

		        <button type="button" class="btn btn-primary">
		        	<strong>
		        		<i class="fa fa-save" aria-hidden="true"></i> 
		        		Save changes
		        	</strong>
		        </button>
		        
		        <button type="button" class="btn btn-danger" data-dismiss="modal">
		        	<strong>
		        		<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> 
		        		Cancel
		        	</strong>
		        </button>

		      </div>
		      
		    </div><!-- modal-content ends -->
		  </div><!-- modal-dialog ends -->
		</div><!-- changePasswordModal ends -->
		
</div> <!-- col-sm-12 col-md-12 ends -->